*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background: linear-gradient(45deg, orange, green);
    overflow: hidden;
}
.header{
    position: fixed;
    width: 100%;
    padding: 40px 60px;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}
.navigation ul{ 
    gap: 60px;
    display: flex;
    align-items: center;  
}
.navigation ul li a{
    color: white;
    font-size: 1.2rem;
    transition: all .1s ease;
}
.navigation ul li a:hover{
    border-bottom: 3px solid white;
}
.main{
    overflow: hidden;
}
.section{
    padding: 8rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.left p{
    font-size: 2.2rem;
    color: white;
    margin-bottom: 10px;
}
.left h4{
    font-size: 3.5rem;
    color: white;
    margin-bottom: 3rem;
}
.btn{
    display: flex;
    padding: 1.4rem 5rem;
    background: green;   
    border-radius: 25px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;     
    margin: 5px;
    }